## *args
--> Use *args when you are not sure about the number of arguments to be passed to the function.

--> *args allows us to pass variable no. of non-keyword arguments to function.

--> Arguments are always passed as a tuple.

In [1]:
def function_name(positional_arguments, *args, named_arguments, **kwargs):
    pass

In [13]:
def just(*args):
    return args

just(1,2, {3,4}, (5,6), [7,8], complex(10,5), 'word')

(1, 2, {3, 4}, (5, 6), [7, 8], (10+5j), 'word')

In [23]:
def add(*arg):
    return sum(arg)

print( add(5,0) )
print( add(5+2, 2) )
print( add(5,2, complex(-6,3)) )

5
9
(1+3j)

In [28]:
lst1 = [1,2,3]   #6
tup2 = (2,2)     #4
set3 = {10,5}    #15
add(*lst1,*tup2,*set3) #6+4+15

25

## **kwargs
--> Allows us to pass variable No. of Keyword arguments to the function.

--> Arguments are passed as a dictionary.

In [63]:
def emp_details(**kwargs):
    return kwargs

dic = emp_details(ID=1011, Designation='Software Developer', TCS=('Tea','Coffee','Snacks'), salary=75700.860, numbers={31,36,31,42},)
dic

{'ID': 1011,
 'Designation': 'Software Developer',
 'TCS': ('Tea', 'Coffee', 'Snacks'),
 'salary': 75700.86,
 'numbers': {31, 36, 42}}

In [76]:
def format_details(**kwarg):
    for key, val in kwarg.items():
        print("{} :- {}".format(key,val))

print(type(dic))
print()
format_details(**dic)

<class 'dict'>

ID :- 1011
Designation :- Software Developer
TCS :- ('Tea', 'Coffee', 'Snacks')
salary :- 75700.86
numbers :- {42, 36, 31}

## Combining all 4 arguments
positional_arguments, *args, named_arguments, **kwargs

In [168]:
def custDetails(custID, *args, contact='Not Available', **kwars):
    print("Customer ID :",custID)
    print("Total :", sum(args))
    print("Contact :", contact)
    for k,v in kwars.items():
        print("{} : {}".format(k,v))

In [171]:
expense = {10,20,30}
custDetails('KT-5160', *expense, 40 ,is_employed='YES', Age=25, tips='$1.25', contact=9876543210)

Customer ID : KT-5160
Total : 100
Contact : 9876543210
is_employed : YES
Age : 25
tips : $1.25

## Change the order of parameters

In [180]:
def OrderDetails1(orderID=101, contact):
    pass

SyntaxError: parameter without a default follows parameter with a default (1368220482.py, line 3)

In [185]:
def OrderDetails2(**kwargs, *args,contact):
    pass

SyntaxError: arguments cannot follow var-keyword argument (2841158449.py, line 1)

## Lambda

In [224]:
def product(*args):
    res = 1
    for i in args:
        res = res * i
    return res

In [225]:
mul = lambda **kwargs: product(*kwargs.values()) # *kwargs.values() unpacks the values
mul(a=3, b=5, p=7, zz=2)

210

In [227]:
add = lambda **kwargs: sum(kwargs.values())    # sum() does not need unpacking, hence not *kwargs
add(a=3,z=2)

5

5